*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(A.JPG);
    background-position: center;
    background-size: cover;
    zoom: initial;
}

.container {
    width: auto;
    margin: 5px;
}

input[type=text] {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 3PX SOLID #000000;
    padding-left: 1.5rem;
    font-size: 15px;
  }

.input[type=text] {
    color: inherit
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 3PX SOLID #000000;
    padding-left: 1.5rem;
    font-size: 15px;
  }

input[type=EMAIL] {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 3PX SOLID #000000;
    padding-left: 1.5rem;
    font-size: 15px;
  }

input[type=PASSWORD] {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 3PX SOLID #000000;
    padding-left: 1.5rem;
    font-size: 15px;
  }

.btn {
    width: 50%;
    background: rgb(255, 254, 254);
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(24, 3, 179);
}

.or {
    font-size: 2rem;
    margin-top: 0rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

.icons{
    text-align: center;
}

.icons i {
    color: rgb(255, 255, 255);
    padding:1.8rem 1.5rem;
    border-radius: 6px;
    font-size: 1.5rem;
    cursor: pointer;
    border:5px;
    margin:0 10px;
    transition: 4s;
}

.links {
    color: rgb(255, 255, 255);
    padding:0.5rem;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    border:5px;
    margin:0 10px;
    transition: 4s;
}